:root {
  --DarkRed: #8b0000;
  --Black: #000000;
  --CharcoalGray: #333333;
  --BloodRed: #990000;
  --Crimson: #8b0000;
  --AshGray: #555555;
  --MidnightBlack: #191919;
  --FieryOrangeRed: #ff4500;
  --DeepMaroon: #800000;
  --OnyxBlack: #0f0f0f;
}
